body {
	background-repeat: no-repeat;
	background-size: cover;
	height: 100px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
.signin_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: rgba(163, 131, 60, 0.229);
	border-radius: 20px;
	width: 105px;
	height: 46px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}
.social_icon {
	padding-left: 20px;
}

.login {
	padding: 10px;
	background-color: white;
	text-align: left;
	color: black;
	width: 500px;
	height: min-content;
	border-radius: 10px;
}
.clr {
	border-radius: 10px;
}
.font{
	font-family: Times New Roman
	Georgia
	Garamond;	
}
.up{
	font-family: Times New Roman
	Georgia
	Garamond;	
}
